@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 300vh;
}

.container{
    background-color: blue;
    height: 400px;
    width: 400px;
    margin-top: 20vh;
    position: sticky;
    border-radius: 1000px;
}

.box{
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: sticky;
    top: 300px;
    left: 100px;
    border-radius: 100px;
}